/* line 1, ../../../_app/assets/_scss/print.scss */
body {
  font-size: 12pt;
}

/* line 5, ../../../_app/assets/_scss/print.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 10, ../../../_app/assets/_scss/print.scss */
[role="banner"] {
  border-top: none;
}

/* line 14, ../../../_app/assets/_scss/print.scss */
.nav-main li,
[role="contentinfo"] p,
[role="contentinfo"] .guestDispControls {
  display: none;
}

/* line 20, ../../../_app/assets/_scss/print.scss */
.nav-main {
  border-top: none;
}

/* line 24, ../../../_app/assets/_scss/print.scss */
[role="main"] {
  width: 100%;
  max-width: 100%;
  padding: .5em 0 1em;
  margin: 0;
}

/* line 31, ../../../_app/assets/_scss/print.scss */
[role="main"] a:after {
  content: " (jtarthur.net" attr(href) ")";
}

/* line 34, ../../../_app/assets/_scss/print.scss */
.Archrival [role="main"] a:after {
  content: " (archrival.jtarthur.net" attr(href) ")";
}

/* line 38, ../../../_app/assets/_scss/print.scss */
[role="main"] [href^="http"]:after {
  content: " (" attr(href) ")";
}

/* line 42, ../../../_app/assets/_scss/print.scss */
[role="main"] [href="/contact"]:after {
  content: ' (john@jtarthur.net)';
}

/* line 46, ../../../_app/assets/_scss/print.scss */
[role="contentinfo"] {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 52, ../../../_app/assets/_scss/print.scss */
[role="contentinfo"] a:after {
  content: ' | jtarthur.net';
}

/*		Home Page Print Styles		*/
/* line 57, ../../../_app/assets/_scss/print.scss */
.clSalutation {
  font-size: 1em;
  font-weight: normal;
  margin: 1.5em 0;
  text-align: left;
}

/* line 63, ../../../_app/assets/_scss/print.scss */
.clClosing p,
.clClosing p + p {
  padding: 1.5em 0;
  text-indent: 0;
}

/* line 69, ../../../_app/assets/_scss/print.scss */
.Hayneedle .clClosing {
  padding: 1.5em 0;
}

/*		Resume Print Styles		*/
/* line 74, ../../../_app/assets/_scss/print.scss */
.hresume h1 {
  display: none;
}

/* line 78, ../../../_app/assets/_scss/print.scss */
.hresume [role="main"] [rel="tag"] {
  border: none;
}

/* line 82, ../../../_app/assets/_scss/print.scss */
.hresume [role="main"] [rel="tag"]:after {
  content: '';
}
